.number {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border: 1px solid limegreen;
  background-color: teal;
  color: white;
  cursor: pointer;
}

.number:hover {
  background-color: turquoise;
  color: black;
}

.checked {
  background-color: red;
  cursor: not-allowed;
}

.checked:hover {
  background-color: tomato;
}

.not-playing {
  cursor: not-allowed;
}
